<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dave Says...</h1>
    <p>Hi!</p>

    <h4>Rabbit info</h4>

    <script>
        fetch('/getrabbits')
            .then(response=>response.json())
            .then(processRabbitdata)

        function processRabbitdata(data){
            // console.log(data)
            let list=document.createElement('ul')
            data.rabbits.forEach(rabbit=>{
                console.log(`${rabbit.name} was ${rabbit.colour} and sadly dies in ${rabbit.yod}`)
                let newli=document.createElement('li')
                newli.innerText=`${rabbit.name} was ${rabbit.colour} and sadly dies in ${rabbit.yod}`
                list.appendChild(newli)
            })
            document.body.appendChild(list)
        }
    </script>
</body>
</html>